<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Leads</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Leads            </li>
            </ul>
          </div>
          <section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="search-form">
                                    <form class="" id="searchForm" action="/leads" method="get">
                                    <div class="input-group">
                                    <input type="text" name="search" autocomplete="off" id="searchNow" placeholder="Search for lead..." class="form-control">
                                    </div>
                                    </form>
                          </div>
                        </div>
                            <div class="col-md-4">
                              <div class="float-right">
                                <form class="incline" action="/leads/new" method="get">
                                    <button class="btn btn-outline-dark btn-sm new-lead-t" type="submit"><span class="fa fa-plus"></span> New Lead</button>
                                </form>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Budget</th>
                              <th>Status</th>
                              <th>Date Submitted</th>
                            </tr>
                          </thead>
                          <tbody id="leadsResults">



<% leads.forEach(function(lead) { %>

  <tr>
    <th scope="row"><a href="/leads/<%= lead.id %>"><%= lead.firstname %></a></th>
    <td><%= lead.email %></td>
    <td><%= lead.budget %></td>
    <td><%= lead.status %></td>
    <td><%= moment(lead.created).format('LL') %></td>

</tr>
      <% }); %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>



<%- include ../../temp/footer.ejs %>
<script type="text/javascript">
$( "#searchNow" ).keyup(function(e) {
  var searchQuery = $(this).val();

  $.get( "/leads/search?search="+ searchQuery, function( data ) {
  $("#leadsResults").html("");
    console.log(data);
  if (0 < data.length) {
    for (var i = 0; i < data.length; i++) {
<<<<<<< HEAD
      $("#leadsResults").append('<tr><th scope="row"><a href="/leads/'+   data[i]._id +'">'+   data[i].firstname +'</a></th><td>'+ data[i].email +'</td><td>'+ data[i].email +'</td><td>'+ data[i].status +'</td><td>'+ moment(data[i].created).format('LL') +'</td></tr>')
=======
      $("#leadsResults").append('<tr><th scope="row"><a href="/leads/'+   data[i]._id +'">'+   data[i].firstname +'</a></th><td>'+ data[i].email +'</td><td>'+ data[i].email +'</td><td>'+ moment(data[i].created).format('LL') +'</td></tr>')
>>>>>>> f2d3d11654884e45a7a5c070acd9d3a3e2de8e55


    }
  } else {

    $("#leadsResults").append('<tr><td>There are no leads...</td><td></td><td></td><td></td><td></td></tr>')

  }

});
});
</script>
