<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Payments - <%= timeView %></h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Payments</li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="float-right-actions">
                            <form action="/finance/payments" method="get" id="formView" >
                            <input type="hidden" name="selectedDateView" id="selectedDateView" value="">
                            <button type="button" class="btn btn-outline-dark btn-sm" id="datepicker">
                            <span class="fa fa-calendar"></span> Change date
                          </button></form>
                        </div>
                      </div>
                    </div>
          </div>

          <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white has-shadow">
          <!-- Item -->
          <div class="col-xl-4 col-sm-4">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet"><i class="icon-user"></i></div>
              <div class="title"><span>Total<br>Sold</span>
              </div>
              <div class="number"><strong><%= numeral(totalAmount).format('0,0') %> ISK</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-4 col-sm-4">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red"><i class="icon-padnote"></i></div>
              <div class="title"><span>Total<br>Paid</span>
              </div>
              <div class="number"><strong><%= numeral(totalPaid).format('0,0') %> ISK</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-4 col-sm-4">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-bill"></i></div>
              <div class="title"><span>Total<br>Unpaid</span>
              </div>
              <div class="number"><strong><%= numeral(totalOutstanding).format('0,0') %> ISK</strong></div>
            </div>
          </div>
          <!-- Item -->
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="bar-chart-example card">
          <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                      <canvas id="myChart" width="100%" height="30"></canvas>
                    </div>
                  </div>
      </div>
    </section>
          <section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Booking</th>
                              <th>Date</th>
                              <th>Amount</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (payments.length === 0) { %>
      <tr>
        <td>There are no payments....</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

<% } %>
<% payments.forEach(function(payment) { %>
  <tr>
    <th scope="row"><a href="/bookings/<%= payment.bookingId %>"><%= payment.bookingname %></a></th>
      <td><%= moment(payment.date).format('LL') %></td>
      <td><strong><%= numeral(payment.amount).format('0,0') %> ISK</strong></td>
      <% if (payment.status === "Paid") { %>
          <td><span class="badge badge-success" data-toggle="modal" data-target="#editPayment" data-date="<%= moment(payment.date).format('LL') %>" data-status="<%= payment.status %>" data-id="<%= payment.id %>" data-amount="<%= numeral(payment.amount).format('0,0'); %>"><%= payment.status %></</span></td>
      <% } else { %>
      <td> <span class="badge badge-danger" data-toggle="modal" data-target="#editPayment" data-date="<%= moment(payment.date).format('LL') %>" data-status="<%= payment.status %>" data-id="<%= payment.id %>" data-amount="<%= numeral(payment.amount).format('0,0'); %>"><%= payment.status %></span></td>

      <% } %>

  </tr>



  <% }); %>


                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <!-- Modal-->
          <!-- Modal -->
          <div class="modal fade" id="editPayment" tabindex="-1" role="dialog" aria-labelledby="editPayment" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form method="post" action="" class="paymentToUpdate" encType="multipart/form-data">
        <input type="hidden" name="booking" class="bookingid" value="">
        <div class="form-group">
        <label for="recipient-name" class="col-form-label">Payment Status:</label>
        <select class="form-control custom-select payment-status" name="status">
                <option value="Paid">Paid</option>
                <option value="Unpaid">Unpaid</option>
              </select>
        </div>
        <h2 class="modal-amount"></h2>
        </div>
        <div class="modal-footer">
        <button type="button" data-toggle="modal" data-target="#removePayment" data-paymentid="" aria-haspopup="true" aria-expanded="false" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
        </div>
        </div>
        </div>



        <div class="modal fade" id="removePayment" tabindex="-1" role="dialog" aria-labelledby="removePayment" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Do you want to delete this payment?</p>
                <form method="post" action="" class="deletePayment">
                          <input type="hidden" name="booking" class="bookingid" value="">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              </div>
            </div>
          </div>
        </div>


<%- include ../../temp/footer.ejs %>


<script type="text/javascript">


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Payments by month',
            data: [90000, 19, 3, 5, 2, 50000, 11, 2, 1, 1, 1, 1, 8000],
            backgroundColor: [
                'rgba(255, 99, 132)',
            ],
            borderWidth: 1
        }]
    },
    responsive: true,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});



$('#editPayment').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var amount = button.data('amount'); // Extract info from data-* attributes
  var status = button.data('status');
  var date = button.data('date');
  var id = button.data('id');
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Payment: ' + date)
  modal.find('.bookingid').val(id)
  modal.find('h2.modal-amount').html('<i class="material-icons">attach_money</i> ' + amount + ' ISK')
  modal.find('select.form-control.custom-select.payment-status').val(status);
  modal.find('.btn-danger').attr('data-paymentid', id);
  $('.paymentToUpdate').attr('action', '/finance/payment/update-status/'+ id);
});


$('#removePayment').on('show.bs.modal', function (event) {

var button = $(event.relatedTarget) // Button that triggered the modal
var id = button.data('paymentid');
var modal = $(this)
modal.find('.bookingid').val(id)
var modal = $(this)
$('.deletePayment').attr('action', '/finance/payment/remove/'+ id);

});


$("#datepicker").datepicker( {
  format: "mm-yyyy",
  viewMode: "months",
  minViewMode: "months",
  todayHighlight: true,
});


$('#datepicker').datepicker().on('changeDate', function (ev) {
  var selectedDate = (ev.date);
  $("#selectedDateView").val(selectedDate);
  $("#formView").submit();
  $('#datepicker').datepicker('hide');

});


</script>
