<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Finance</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Finance            </li>
            </ul>
          </div>
          <section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Booking</th>
                              <th>Date</th>
                              <th>Amount</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (payments.length === 0) { %>
      <tr>
        <td>There are no payments....</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

<% } %>
<% payments.forEach(function(payment) { %>
  <tr>
    <th scope="row"><a href="/bookings/<%= payment.bookingId %>"><%= payment.bookingname %></a></th>
      <td><%= moment(payment.date).format('LL') %></td>
      <td><strong><%= numeral(payment.amount).format('0,0') %> ISK</strong></td>
      <% if (payment.status === "Paid") { %>
          <td> <button type="button" data-toggle="modal" data-target="#5ad77cf622b1c52225542e53" class="btn btn-primary">Form in simple modal </button></td>
      <% } else { %>
      <td> <button type="button" data-toggle="modal" data-target="#<%= payment.id %>" class="btn btn-primary">Form in simple modal </button></td>

      <% } %>

  </tr>
  <!-- Modal-->
  <!-- Modal -->
  <div class="modal fade" id="5ad77cf622b1c52225542e53" tabindex="-1" role="dialog" aria-labelledby="5ad77cf622b1c52225542e53" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <% }); %>


                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


<%- include ../../temp/footer.ejs %>
