<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
                      <div class="container-fluid">
                        <div class="breadcrumb-holder container-fluid">
                          <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/suppliers">Suppliers</a></li>
                                <li class="breadcrumb-item active"><%= supplier.name %></li>
                              </ul>
                            </div>
                              <div class="col-md-6 col-xs-12">
                                  <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                                <div class="float-right-actions">
                        <div class="dropdown">
              <button class="btn btn-outline-dark btn-sm" type="button" id="editBooking" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Actions <span class="fa fa-chevron-down"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="editBooking">
                <a class="dropdown-item" data-toggle="modal" data-target="#changeSupplier">Edit details</a>
              </div>
            </div>


                                </div>


                                    <%}%>
                              </div>
                          </div>
                        </div>
                      </div>
          </header>












          <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">
                  <div class="card">
                    <h2 class="main-card-heading"><%= supplier.name %> - <%= supplier.type %></h2>
                    <div class="card-body client">
                      <div class="media">


                        <div class="media-body">
                            <div class="row">
                              <div class="col-lg-6 col-md-12">
                                <i class="fa fa-phone"></i>   <%= supplier.phone %> <br>
                                <i class="fa fa-envelope"></i> <%= supplier.bookingemail %> <br>
                                  <i class="fa fa-globe"></i> <a href="http://<%= supplier.website %>" target="_blank">Website</a><br>
                                <p class="text-muted mb-0">Company: <%= supplier.company %></p>
                                <p class="text-muted mb-0">ID: <%= supplier.companyid %></p>
                              </div><div class="col-lg-6 col-md-12">
                                <p class="text-muted mb-0">Address: <%= supplier.address %></p>
                                <p class="text-muted mb-0">Zip: <%= supplier.zip %></p>
                                <p class="text-muted mb-0">City: <%= supplier.city %></p>
                                  <p class="text-muted mb-0">Country: <%= supplier.country %></p>
                              </div>
                            </div>

                          <hr>
                          <% if (supplier.type == "Hotel") {%>
                            <div class="row">
                              <div class="col-lg-6 col-md-12">
                            <p class="text-muted mb-0">Check-in time: <br><%= supplier.checkin %></p>
                              </div>

                              <div class="col-lg-6 col-md-12">
                            <p class="text-muted mb-0">Check-out time: <br><%= supplier.checkout %></p>
                              </div>
                            </div>
                        <% } %>
                            <% if (supplier.note) {%>
                                  <hr>
                                    <p class="text-muted mb-0"><%= supplier.note %></p>
                              <% } %>
                        </div>

                      </div>
                    </div>
                  </div>








                      </div>
                      <div class="col-lg-8">

                      <!--  -->


                          <h2 class="main-card-heading">Price List</h2>
                                            <div class="card-cold">
                                              <form class="card card-booking-item">
                                              <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                      <% if(supplier.pricelist) {%>
                                                      <h3 class="card-title"><%= supplier.pricelist %></h3>
                                                      <% } else {%>
                                                        <h3 class="card-title">No price list</h3>
                                                    <% } %>
                                                    </div>
                                                    <div class="col-md-6">

                                                                                                                <div class="dropdown">
                                                          <% if(supplier.pricelist) {%>
                                                          <button class="btn btn-primary btn-sm float-right view-itinerary" type="button" id="editItinerary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            View Price List <span class="fa fa-chevron-down"></span>
                                                          </button>
                                                          <div class="dropdown-menu" aria-labelledby="editItinerary">
                                                            <a class="dropdown-item" href="/itineraries/DI-86624.pdf" target="_blank">View Price List</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#upload">Upload New</a>
                                                          </div>
                                                          <% } else {%>

                                                            <button class="btn btn-secondary btn-sm float-right view-itinerary" type="button" id="editItinerary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              Upload New <span class="fa fa-chevron-down"></span>
                                                            </button>
                                                                    <div class="dropdown-menu" aria-labelledby="editItinerary">
                                                              <a class="dropdown-item" data-toggle="modal" data-target="#upload">Upload New</a>
                                                            </div>

                                                            <% } %>

                                                                        </div>


                                                    </div>
                                                </div>
                                              </div>
                                              </div>




                    </div>

                    </div>

                </div>

                  <!-- Inline Form-->
                  <div class="col-lg-8">




                    </div>


                </div>

            </section>



            <div class="modal" id="changeSupplier" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Supplier - <%= supplier.name %> </h5>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="modal-body" id="result">
                          <div class="row h-100  change-book-details">
                            <div class="col-md-6 col-xl-6 col-sm-12">
                                                            <form class="form-validate" novalidate="novalidate" id="bookingsDetailsUpdate" action="/bookings/update/5d0a161eb049126708510ad4" method="post">
                                                              <div class="row">
                                                                <div class="form-group col-md-6">
                                                                  <label>Name</label>
                                                                  <input type="text" name="name" autocomplete="off" required="" value="<%= supplier.name %>" class="form-control">
                                                                </div>
                                                                  <div class="form-group col-md-6">
                                                                    <label>Type</label>
                                                                    <select class="form-control custom-select" name="type">
                                                                        <option value="" disabled>Activities</option>
                                                                        <option value="Atv Tours">Atv or Quad Tours</option>
                                                                        <option value="Boat Tours">Boat Tours</option>
                                                                        <option value="Horseback Riding">Horseback Riding</option>
                                                                        <option value="Food Experience">Food Experience</option>
                                                                        <option value="Diving & Snorkeling">Diving & Snorkeling</option>
                                                                        <option value="Helicopter Tours">Helicopter Tours</option>
                                                                        <option value="Glacier Hike">Glacier Hike & Ice Climbing</option>
                                                                        <option value="Snowmobiling">Snowmobiling</option>
                                                                        <option value="Local Farm Visit">Local Farm Visit</option>
                                                                        <option value="Geothermal Bathing">Geothermal Bathing</option>
                                                                        <option value="Volcano Tour">Volcano Tour</option>
                                                                        <option value="Caving">Caving</option>
                                                                        <option value="Fly Fishing">Fly Fishing</option>
                                                                        <option value="Super Jeep Tours">Super Jeep Tours</option>
                                                                        <option value="" disabled>Accommodation</option>
                                                                        <option value="Private Lodge">Private Lodge</option>
                                                                        <option value="Hotel">Hotel</option>
                                                                      </select>
                                                                  </div>
                                                                </div>
                                                              <div class="row">
                                                                <div class="form-group col-md-6">
                                                                  <div class="row">
                                                                    <div class="col">
                                                                      <label>Phone Number</label>
                                                                    </div>
                                                                  </div>

                                                                  <input name="phonenumber" value="+<%= supplier.phone %>" type="text" required="" class="form-control">

                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                  <div class="row">
                                                                    <div class="col">
                                                                      <label>Email</label>
                                                                    </div>
                                                                  </div>

                                                                  <input name="email" value="<%= supplier.bookingemail %>" type="email" required="" class="form-control">

                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="form-group col-md-6">
                                                                  <label>City / Town</label>

                                                                  <input name="city" type="text" autocomplete="off" required="" value="<%= supplier.city %>" class="form-control">

                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                  <label>Zip Code</label>

                                                                  <input name="zip" type="text" autocomplete="off" value="<%= supplier.zip %>" required="" class="form-control">

                                                                </div>
                                                              </div>
                                                                <div class="row">
                                                              <div class="form-group col-md-6">
                                                                <label>Country</label>
                                                                <select id="selectedCountry" class="form-control custom-select" name="country" required="">
                                <% var options = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
                            	,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands"
                            	,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
                            	,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
                            	,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
                            	,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
                            	,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
                            	,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
                            	,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
                            	,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
                            	,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
                            	,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
                            	,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia"
                            	,"Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","United States Minor Outlying Islands","Uruguay"
                            	,"Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];%>
                                <% for(var i = 0; i < options.length; i++) { %>
                                  <% if(supplier.country){ %>
                                  <% var selected = ( supplier.country == options[ i ] ) ? "selected" : ""; %>
                                  <% } else { %>
                                    <% var selected = ""; %>
                                  <% } %>
                                  <option value='<%=options[ i ] %>' <%=selected %>><%=options[ i ] %></option>
                                <% } %>
                              </select>

                                                              </div>
                                                              <div class="form-group col-md-6">
                                                                <label>Address</label>

                                                                <input name="address" type="text" autocomplete="off" required="" value="<%= supplier.address %>" class="form-control">

                                                              </div>

                                                            </div>
                                                              <div class="row">
                                                                <div class="form-group col-md-6">
                                                                  <label>Company ID</label>

                                                                  <input name="companyid" type="text" value="<%= supplier.companyid %>" autocomplete="off" required=""  class="form-control">

                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                  <label>Company Name</label>

                                                                  <input name="companyname" value="<%= supplier.company %>" autocomplete="off" required=""  class="form-control">

                                                                </div>
                                                              </div>
                                                              <br>
                                                            </form></div>

                                </form>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>




<%- include ../../temp/footer.ejs %>




</script>
