<%- include ../temp/header.ejs %>
<%- include ../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../temp/sidebar.ejs %>
  <div class="content-inner active">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
      </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white has-shadow">
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet"><i class="icon-user"></i></div>
              <div class="title"><span>Total<br>Bookings</span>
              </div>
              <div class="number"><strong><%= totalBookings %></strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red"><i class="icon-padnote"></i></div>
              <div class="title"><span>Total<br>Completed</span>
              </div>
              <div class="number"><strong><%= totalCompleted %></strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-bill"></i></div>
              <div class="title"><span>Unpaid<br>Invoices</span>
              </div>
              <div class="number"><strong>40</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-orange"><i class="icon-check"></i></div>
              <div class="title"><span>Total<br>Leads</span>
              </div>
              <div class="number"><strong>50</strong></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Dashboard Header Section    -->
    <section class="dashboard-header">

    </section>

    <!-- Feeds Section-->
    <section class="feeds no-padding-top">
      <div class="container-fluid">
        <div class="row">
          <!-- Trending Articles-->
          <div class="col-lg-4">
            <div class="articles card">
              <div class="card-close">
                <div class="dropdown">
<div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-header d-flex align-items-center">
                <h2 class="h3">Overview </h2>
              </div>
              <div class="card-body">

                  <div id="calendar" class="fc fc-bootstrap3 fc-ltr"></div>

              </div>
            </div>
          </div>
          <!-- Trending Articles-->
          <div class="col-lg-8">
            <div class="articles card">
              <div class="card-close">
                <div class="dropdown">
                <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-header d-flex align-items-center">
                <h2 class="h3">Upcoming this week - <%= moment().startOf('isoWeek').format('ll'); %> to <%= moment().endOf('isoWeek').format('ll'); %></h2>
              </div>
            </div>

            <% transfers.forEach(function(transfer) { %>
                <div class="card-cold">
                  <% if (transfer.status == "Confirmed") { %>
                    <form class="card card-booking-item" style="border-color: #28a745;">
                    <% } else if (transfer.status == "Cancelled") { %>
                      <form class="card card-booking-item" style="border-color: #dc3545;">
                    <% } else { %>
                  <form class="card card-booking-item">
                    <% } %>
                  <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                          <h3 class="card-title">
                            <% if (transfer.type == "Arrival Transfer") { %>
                                    <i class="material-icons">flight_land</i>
                              <% } else { %>

                                  <i class="material-icons">flight_takeoff</i>
                                <% } %>
                                <%= transfer.type %> - <a href="/bookings/<%= transfer.bookingid %>"> <%= transfer.bookingname %></a>
                        </div>
                        <div class="col-md-6">
                          <% if (transfer.status == "Confirmed") { %>
                            <span class="badge badge-success confirmed-tour-item" data-toggle="modal" data-target="#changeStatus" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                            <% } else if (transfer.status == "Cancelled") { %>
                            <span class="badge badge-danger confirmed-tour-item" data-toggle="modal" data-target="#changeStatus" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                            <% } else { %>
                            <span class="badge badge-warning confirmed-tour-item" data-toggle="modal" data-target="#changeStatus" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                            <% } %>
                        </div>
                    </div>
                  </div>

              <div class="card-body" style="padding: 0px;">
                <div class="item booking-item-details">
                  <div class="row">
                    <div class="col-md-4 booking-item-detail-col">
                      <div class="title">
                        <h5><%= moment(transfer.date).format('LL') %></h5>
                        <% if (transfer.extraInfo) { %>
                            <p><%= transfer.people %> PAX <a class="extra-info" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= transfer.extraInfo %>"><i class="fa fa-info-circle"></i> Extra Information</a></p>
                          <% } else { %>
                          <p><%= transfer.people %> PAX</p>
                          <% } %>
                      </div>
                    </div>
                    <div class="col-md-6 booking-item-detail-col">
                      <div class="row">
                        <div class="col-md-6">
                          <p>Flight: <br><%= transfer.flightnumber %> at <%= transfer.flighttime %></p>
                        </div>
                        <div class="col-md-6">
                          <p>Pick-up: <br><%= transfer.location %> at <%= transfer.pickuptime %></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 float-right booking-item-detail-col">
                      <div class="row">
                        <div class="col-12">
                          <% if (transfer.status == "Confirmed"){ %>
                            <p>Driver: </br> <%= transfer.driver %></p>

                            <% } else { %>
                              <p></p>

<% } %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

            </form>
            </div>


            <% }); %>





          </div>




        </div>
      </div>
    </section>

  <%- include ../temp/footer.ejs %>
