<%- include ../temp/header.ejs %>
<%- include ../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../temp/sidebar.ejs %>
  <div class="content-inner active">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
      </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white">
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet"><i class="icon-user"></i></div>
              <div class="title"><span>Confirmed<br>Bookings</span>
              </div>
              <div class="number"><strong><%= totalConfirmed %></strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red"><i class="icon-padnote"></i></div>
              <div class="title"><span>Pending<br>Bookings</span>
              </div>
              <div class="number"><strong><%= totalPending.length %></strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-bill"></i></div>
              <div class="title"><span>New<br>Leads</span>
              </div>
              <div class="number"><strong><%= newLeads.length %></strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-orange"><i class="icon-check"></i></div>
              <div class="title"><span>Follow-Up<br>Leads</span>
              </div>
              <div class="number"><strong><%= followLeads %></strong></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Dashboard Header Section    -->
    <section class="dashboard-header new">

    </section>

    <section class="updates no-padding-top" style="background-color: transparent;">
                <div class="container-fluid">
                  <div class="row">
                    <!-- Recent Updates-->
                    <div class="col-lg-4">
                      <div class="recent-activities card">
                        <div class="card-header">
                          <h3 class="h4 main">Bookings this month <span class="badge badge-secondary pull-right total"><%= detailsthisWeek.length %></span></h3>
                        </div>
                        <div class="card-body no-padding">


                                                    <% if (detailsthisWeek.length === 0) { %>
                                                      <div class="item d-flex align-items-center">
                                                        <div class="text empty">
                                                            <h3 class="h5">There are no pending bookings.</h3><small></small></div>
                                                      </div>

                                          <% } %>
                                          <% detailsthisWeek.forEach(function(detail) { %>

                          <div class="item booking-month">
                            <div class="row">
                              <div class="col-4 date-holder text-right">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="date"><h5><%= detail.bookingnumber %></h5></br><span><%= moment(detail.arrivaldate).format("ll") %> - <%= moment(detail.departuredate).format("ll") %> </span></div>
                              </div>
                              <div class="col-8 content">
                                <input type="hidden" class="bookingNumber" name="" value="<%= detail.bookingnumber %>">
                                <a id="<%= detail.bookingnumber %>" href="#"><h5 id="booking-name-<%= detail.bookingnumber %>"></h5></a>
                                <p><%= detail.pax %> Persons - <%= detail.country %></p>
                                <div id="booking-status-<%= detail.bookingnumber %>" class="pull-right badge badge-rounded bg-green"></div>
                              </div>
                            </div>
                          </div>
                                            <% }); %>




                        </div>
                      </div>
                    </div>
                    <!-- Daily Feeds -->
                    <div class="col-lg-4">
                      <div class="articles card">
                        <div class="card-header">
                          <h3 class="h4">Pending Bookings</h3>
                        </div>
                        <div class="card-body no-padding">

                          <% if (totalPending.length === 0) { %>
                            <div class="item d-flex align-items-center">
                              <div class="text empty">
                                  <h3 class="h5">There are no pending bookings.</h3><small></small></div>
                            </div>

                <% } %>
                <% totalPending.forEach(function(booking) { %>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-12">
                        <a href="/bookings/<%= booking.id %>">
                            <h3 class="h5"><%= booking.firstname %></h3></a>
                            <div class="pull-right badge badge-rounded bg-green <%= booking.status %>"><%= booking.status %></div>
                          </div>
                      </div>
                    </div>
                  <% }); %>

                        </div>
                      </div>
                    </div>
                    <!-- Recent Activities -->
                    <div class="col-lg-4">
                      <div class="articles card">
                        <div class="card-header">
                          <h3 class="h4">New Leads</h3>
                        </div>
                        <div class="card-body no-padding">




                                          <% if (newLeads.length === 0) { %>
                                            <div class="item d-flex align-items-center">
                                              <div class="text empty">
                                                  <h3 class="h5">There are no new leads.</h3><small></small></div>
                                            </div>

                                <% } %>
                                <% newLeads.forEach(function(lead) { %>
                                  <div class="item d-flex align-items-center">
                                    <div class="text"><a href="/leads/<%= lead.id %>">
                                        <h3 class="h5"><%= lead.firstname %> <div class="badge badge-rounded bg-green <%= lead.status %>"><%= lead.status %></div> </h3></a><small><%= lead.startdate %> - <%= lead.travellers %> PAX with budget per person <%= lead.budget %></small></div>
                                  </div>
                                  <% }); %>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

  <%- include ../temp/footer.ejs %>


  <script type="text/javascript">

  $( ".booking-month" ).each(function( index ) {

  var bookingNumber = $( this ).find("input.bookingNumber").val();

  $.ajax({

  url: "/bookings/look-up/"+ bookingNumber,

  }) .done(function( html ) {



    $("div#booking-status-"+ bookingNumber).addClass(html[0].status)
    $("div#booking-status-"+ bookingNumber).html(html[0].status)
    $("#booking-name-"+ bookingNumber).html(html[0].firstname);
    $("#"+ bookingNumber).attr("href", "/bookings/"+ html[0]._id);



  });
  });


  </script>
