<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
                      <div class="container-fluid">
                        <h2 class="no-margin-bottom"><%= booking.firstname %> <%= booking.lastname %></h2>
                      </div>
          </header>

          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/bookings">Bookings</a></li>
              <li class="breadcrumb-item active"><%= booking.firstname %> <%= booking.lastname %></li>
            </ul>
          </div>

          <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">

                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Contact</h3>
                      <div class="card-close">
                      <div class="badge badge-rounded bg-green <%= booking.status %>"><%= booking.status %></div>
                    </div>
                    </div>
                    <div class="card-body client">
                      <div class="media">
                        <div class="media-body">

                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <h4><%= booking.firstname %> <%= booking.lastname %></h4>

                              <i class="fa fa-phone"></i> <%= booking.phonenumber %><br>

                              <i class="fa fa-envelope"></i> <%= booking.email %><br>

                            </div><div class="col-lg-6 col-md-12">

                                                        <p class="text-muted mb-0">Address: <%= booking.address %></p>
                                                        <p class="text-muted mb-0">Post/Zip Code: <%= booking.zip %></p>
                                                        <p class="text-muted mb-0">City/Town: <%= booking.city %></p>
                                                        <p class="text-muted mb-0">Country: <%= booking.country %></p>
                            </div>
                          </div>


                          <hr>


                          <div class="client-info">
                        <div class="row">
                          <div class="col-4">
                            <i class="material-icons flight">flight_land</i>
                            <br>
                            <strong>Arrival Flight</strong><br><small><%= booking.arrivalflight %></small></div>
                          <div class="col-4"></div>
                          <div class="col-4">
                            <i class="material-icons flight">flight_takeoff</i>
                            <br>
                            <strong>Departure Flight</strong><br><small><%= booking.departureflight %></small></div>
                        </div>
                      </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="recent-updates card">
                      <div class="card-header">
                        <h3 class="h4">Travellers</h3>
                      </div>
                      <div class="card-body no-padding">
                        <!-- Item-->
                        <div class="item d-flex justify-content-between">
                          <div class="info d-flex">
                            <div class="title">
                              <h5>MR</h5>
                              <p><strong>John Algo</strong> - Age 28</p>
                            </div>
                          </div>
                        </div>
                        <!-- Item-->
                        <div class="item d-flex justify-content-between">
                          <div class="info d-flex">
                            <div class="title">
                              <h5>Mrs</h5>
                              <p><strong>John Algo</strong> - Age 28</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

                  <!-- Inline Form-->
                  <div class="col-lg-8">
                      <div class="card">
                        <div class="card-header pt-2 pb-2">
                          <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item"><a data-toggle="pill" href="#log" role="tab" class="nav-link active">Itinerary</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#suppliers" role="tab" class="nav-link">Suppliers</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#emails" role="tab" class="nav-link">Emails</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#payments" role="tab" class="nav-link">Payments</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#activity" role="tab" class="nav-link">Activity Log</a></li>
                          </ul>
                        </div>
                        <div class="card-close">
                          <button data-toggle="modal" data-target="#changeBookingModal" class="btn btn-primary"><span class="fa fa-money"></span> Pricing Details</button>
                      </div>
                        <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="pills-contact-tab">


      <div class="recent-updates card">
        <div class="card-body no-padding">
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 1</strong></div>
              <div class="title">
                <h5>Arrival in Iceland</h5>
                <p><i class="icon-clock"></i> 6:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>23</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 2</strong></div>
              <div class="title">
                <h5>The Golden Circle</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>24</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 3</strong></div>
              <div class="title">
                <h5>The South Coast & Glacier Walk</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>25</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 4</strong></div>
              <div class="title">
                <h5>Reykjanes Peninsula & Blue Lagoon</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>26</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 5</strong></div>
              <div class="title">
                <h5>Depature</h5>
                <p><i class="icon-clock"></i> 1:00 PM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>27</strong><span>May</span></div>
          </div>
        </div>
      </div>
                  </div>
                      <div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="recent-updates card">
                    <div class="card-body no-padding">
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item        -->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                    </div>
                  </div>

                      </div>
                      <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>
                      <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>
                      <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>

    </div>
                        </div>
                      </div>
                    </div>


                </div>

            </section>

            <div class="modal" id="changeBookingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Booking - <%= booking.firstname %> <%= booking.lastname %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" id="result">
                                <div class="row">
                                    <div class="col-md-12 col-xl-5 col-sm-12 no-padding cart-side ">
                                      <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                      <thead>
                                        <tr>
                                          <th>Item</th>
                                          <th>VAT</th>
                                          <th>Commission</th>
                                          <th>QTY</th>
                                          <th>Net</th>
                                          <th>Total</th>
                                        </tr>
                                      </thead>
                                      <tbody id="shoppingCart">

                                      </tbody>
                                    </table>
                                  </div>
                                    </div>
                                    <div class="col-md-12 col-xl-7 col-sm-12 no-padding">
                                      <ul class="nav nav-tabs nav-justified serviceTabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Accommodation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Activities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Driving Guidance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu3">Custom</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active serviceHolder" id="home">
    <div class="service-search">
    <form id="getRooms" class="form-inline">
      <div class="form-group">
        <label for="inlineFormInput" class="sr-only">Select Accommodation</label>
        <select class="form-control custom-select" id="hotels"><option disabled="" selected="">Select Hotel</option></select>
      </div>
      <div class="input-daterange input-group" id="datepicker">
<input type="text" class="input-sm form-control" id="dpd1" autocomplete="false" name="startDate" placeholder="Check-in" required/>
<input type="text" class="input-sm form-control" id="dpd2" autocomplete="false" name="endDate" placeholder="Check-out" required/>
</div>
                            <div class="form-group">
                              <button type="submit"  data-style="zoom-in" class="btn btn-primary search-for-service">Search</button>
                            </div>
                          </form>

                        </div>
                        <div class="service-items-holder">
                          <div class="table-responsive">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Room Type</th>
                              <th>Max Persons</th>
                              <th>VAT</th>
                              <th>Commission</th>
                              <th>NET Total</th>
                              <th id="tripNights">Total Price </th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="listofRooms">
                          </tbody>
                        </table>
                      </div>
                        </div>


  </div>
  <div class="tab-pane container fade serviceHolder" id="menu1">2...</div>
  <div class="tab-pane container fade serviceHolder" id="menu2">3...</div>
    <div class="tab-pane  fade serviceHolder" id="menu3">4...</div>
</div>

                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <% hotels.forEach(function(hotel) { %>

            <input type="hidden" class="hotel" value="<%= hotel.name %>" data-id="<%= hotel.id %>">


            <% }); %>





<script type='text/javascript'>

numeral.register('locale', 'fr', {
    delimiters: {
        thousands: '.',
        decimal: ','
    },
    abbreviations: {
        thousand: 'k',
        million: 'm',
        billion: 'b',
        trillion: 't'
    },
    ordinal : function (number) {
        return number === 1 ? 'er' : 'ème';
    },
    currency: {
        symbol: '€'
    }
});

// switch between locales
numeral.locale('fr');

function removeCartFunction(btn){

  var itemID = btn.getAttribute('data');

  $( "#shoppingCart" ).find("tr#"+ itemID).remove();


}

function addCartFunction(btn){

var itemID = btn.getAttribute('data');
var roomType = btn.getAttribute('type');
var roomSleeps = btn.getAttribute('sleeps');


$("#shoppingCart").append('<tr id="'+ itemID +'"><th scope="row">'+ roomType +'</th><td><select class="form-control custom-select" name="source"><option value="0">0%</option><option value="11">11%</option><option value="24">24%</option></select></td><td><select class="form-control custom-select" name="source"><option value="0">0%</option><option value="5">5%</option><option value="10">10%</option><option value="15">15%</option><option value="20">20%</option><option value="25">25%</option><option value="30">30%</option></select></td><td><input value="1" placeholder="QTY" class="form-control"></td><td>87.000 ISK</td><td><button data="'+  itemID+'" onclick="removeCartFunction(this);" class="btn btn-danger"> - </button></td></tr>')

}


function changeCommission(item){

var itemID = item.getAttribute('data');
var itemNet = item.getAttribute('net');

var itemCommission =  $(item).find(":selected").val();
var newPrice = itemNet * itemCommission;
var formatedPrice = numeral(newPrice).format('0,0');
$("tr#"+ itemID).find("strong.itemPrice").text(formatedPrice + " ISK");

}




$( "#getRooms" ).submit(function( event ) {
  event.preventDefault();
  $("tbody#listofRooms").html("");
  Ladda.bind( 'button[type=submit]', { timeout: 2000 } );


  var start = $("#dpd1").val();
  var end = $("#dpd2").val();

  var s = moment(start);
  var e = moment(end);
  var tripDuration = e.diff(s, 'days');
  tripDuration += 1;
  tripNights = tripDuration - 1;

  $("th#tripNights").text("Total Price for "+ tripNights + " nights");
  var selectedSupplierID = $( "#hotels option:selected" ).val();
  $.get( "/bookings/get-rooms/"+ selectedSupplierID, function( data ) {
    var selectedSupplierID = $( "#hotels option:selected" ).val();


    console.log("Lenght "+ data.length)
    console.log(selectedSupplierID);

    var startDate = $("#dpd1").val();
    var endDate = $("#dpd2").val();



    calculatePrice(0, startDate, endDate);

    function calculatePrice(i, startDate, endDate) {
      if(i < data.length) {


        $.post( "/itineraries/calculate-room-price/"+ selectedSupplierID +"/"+ data[i]._id, { startDate: startDate, endDate: endDate }).done(function( calData ) {
          var salePrice = calData.totalCal * 1.15;

          $('#listofRooms').append($('<tr id='+  data[i]._id +'><input type="hidden" class="itemId" value='+  data[i]._id +'><input type="hidden" name="roomType"><td>'+  data[i].type +'</td><td>'+  data[i].sleeps +'</td><td><select class="form-control custom-select" name="source" disabled><option value="0">0%</option><option value="11" selected>11%</option><option value="24">24%</option></select></td><td><select net='+ calData.totalCal +' data='+  data[i]._id +' onchange="changeCommission(this);" class="form-control custom-select"><option value="1">0%</option><option value="1.05">5%</option><option value="1.1">10%</option><option value="1.15" selected>15%</option><option value="1.20">20%</option><option value="1.25">25%</option><option value="1.30">30%</option></select></td><td>'+ numeral(calData.totalCal).format('0,0') + ' ISK</td><td><strong class="itemPrice">'+ numeral(salePrice).format('0,0') + ' ISK</strong></td><td class="text-right"><button data='+  data[i]._id +' type="'+  data[i].type +'" sleeps="'+ data[i].sleeps +'" onClick="addCartFunction(this);" class="btn btn-primary addToCart"> + </button></td></tr>'

          ));

        });



        calculatePrice(i + 1, startDate, endDate);

      } else {
        console.log("Done");
      }
    }


  });










});









    $( ".hotel" ).each(function() {
      var hotelName = $(this).val();
      var hotelID = $(this).attr("data-id");
      $('select#hotels').append($('<option>', {
          value: hotelID,
          text: hotelName
      }));
    });



$(function(){
$('.input-daterange').datepicker({
 autoclose: true
});
});


</script>
