<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
                      <div class="container-fluid">
                        <h2 class="no-margin-bottom"><%= booking.firstname %> <%= booking.lastname %></h2>
                      </div>
          </header>

          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/bookings">Bookings</a></li>
              <li class="breadcrumb-item active"><%= booking.firstname %> <%= booking.lastname %></li>
            </ul>
          </div>

          <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">

                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Contact</h3>
                      <div class="card-close">
                      <div class="badge badge-rounded bg-green <%= booking.status %>"><%= booking.status %></div>
                    </div>
                    </div>
                    <div class="card-body client">
                      <div class="media">
                        <div class="media-body">

                          <div class="row">
                            <div class="col-md-6">
                              <h4><%= booking.firstname %> <%= booking.lastname %></h4>

                              <i class="fa fa-phone"></i> <%= booking.phonenumber %><br>

                              <i class="fa fa-envelope"></i> <%= booking.email %><br>

                            </div><div class="col-md-6">

                                                        <p class="text-muted mb-0">Address: <%= booking.address %></p>
                                                        <p class="text-muted mb-0">Post/Zip Code: <%= booking.zip %></p>
                                                        <p class="text-muted mb-0">City/Town: <%= booking.city %></p>
                                                        <p class="text-muted mb-0">Country: <%= booking.country %></p>
                            </div>
                          </div>


                          <hr>


                          <div class="client-info">
                        <div class="row">
                          <div class="col-4">
                            <i class="material-icons flight">flight_land</i>
                            <br>
                            <strong>Arrival Flight</strong><br><small><%= booking.arrivalflight %></small></div>
                          <div class="col-4"></div>
                          <div class="col-4">
                            <i class="material-icons flight">flight_takeoff</i>
                            <br>
                            <strong>Departure Flight</strong><br><small><%= booking.departureflight %></small></div>
                        </div>
                      </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="recent-updates card">
                      <div class="card-header">
                        <h3 class="h4">Travellers</h3>
                      </div>
                      <div class="card-body no-padding">
                        <!-- Item-->
                        <div class="item d-flex justify-content-between">
                          <div class="info d-flex">
                            <div class="title">
                              <h5>MR</h5>
                              <p><strong>John Algo</strong> - Age 28</p>
                            </div>
                          </div>
                        </div>
                        <!-- Item-->
                        <div class="item d-flex justify-content-between">
                          <div class="info d-flex">
                            <div class="title">
                              <h5>Mrs</h5>
                              <p><strong>John Algo</strong> - Age 28</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

                  <!-- Inline Form-->
                  <div class="col-lg-8">
                      <div class="card">
                        <div class="card-header pt-2 pb-2">
                          <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item"><a data-toggle="pill" href="#log" role="tab" class="nav-link active">Itinerary</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#suppliers" role="tab" class="nav-link">Suppliers</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#emails" role="tab" class="nav-link">Emails</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#payments" role="tab" class="nav-link">Payments</a></li>
                            <li class="nav-item"><a data-toggle="pill" href="#activity" role="tab" class="nav-link">Activity Log</a></li>
                          </ul>
                        </div>
                        <div class="card-close">
                          <button href="#changeBookingModal" role="button" data-toggle="modal"  class="dropdown-toggle"><i class="fa fa-gear"></i> Edit Booking</button>
                      </div>
                        <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="pills-contact-tab">


      <div class="recent-updates card">
        <div class="card-body no-padding">
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 1</strong></div>
              <div class="title">
                <h5>Arrival in Iceland</h5>
                <p><i class="icon-clock"></i> 6:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>23</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 2</strong></div>
              <div class="title">
                <h5>The Golden Circle</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>24</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 3</strong></div>
              <div class="title">
                <h5>The South Coast & Glacier Walk</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>25</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 4</strong></div>
              <div class="title">
                <h5>Reykjanes Peninsula & Blue Lagoon</h5>
                <p><i class="icon-clock"></i> 9:00 AM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>26</strong><span>May</span></div>
          </div>
          <!-- Item-->
          <div class="item d-flex justify-content-between">
            <div class="info d-flex">
              <div class="icon day-hold"><strong>Day 5</strong></div>
              <div class="title">
                <h5>Depature</h5>
                <p><i class="icon-clock"></i> 1:00 PM - <i class="fa fa-hotel"></i> Hotel Rangá</p>
              </div>
            </div>
            <div class="date text-right"><strong>27</strong><span>May</span></div>
          </div>
        </div>
      </div>
                  </div>
                      <div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="recent-updates card">
                    <div class="card-body no-padding">
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item        -->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                      <!-- Item-->
                      <div class="item d-flex justify-content-between">
                        <div class="info d-flex">
                          <div class="icon"><i class="icon-rss-feed"></i></div>
                          <div class="title">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                          </div>
                        </div>
                        <div class="date text-right"><strong>24</strong><span>May</span></div>
                      </div>
                    </div>
                  </div>

                      </div>
                      <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>
                      <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>
                      <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="pills-contact-tab">


                      </div>

    </div>
                        </div>
                      </div>
                    </div>


                </div>

            </section>

            <div class="modal" id="changeBookingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Booking - <%= booking.firstname %> <%= booking.lastname %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" id="result">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-5 no-padding">
                                      <div class="card">
  <table class="table table-hover shopping-cart-wrap">
  <thead class="text-muted">
  <tr>
    <th scope="col">Item</th>
    <th scope="col">VAT</th>
    <th scope="col">Commission</th>
    <th scope="col">Quantity</th>
    <th scope="col">Credit</th>
    <th scope="col">Total</th>
    <th scope="col" class="text-right"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td>
  <figure class="media">
  	<figcaption class="media-body">
  		<h6 class="title text-truncate">Product name goes here </h6>
  		<dl class="param param-inline small">
  		  <dt>Date: </dt>
  		  <dd>XXL</dd>
  		</dl>
  	</figcaption>
  </figure>
  	</td>
  	<td>
      <select class="form-control custom-select selectpicker" ultiple="" data-live-search="true" name="startdate">
                                      <option value="0">0%</option>
                                      <option value="11">11%</option>
                                        <option value="24">24%</option>
                                    </select>
  	</td>
    <td>
      <select class="form-control custom-select selectpicker" ultiple="" data-live-search="true" name="startdate">
                                      <option value="0">0%</option>
                                      <option value="5">5%</option>
                                      <option value="10">10%</option>
                                      <option value="15">15%</option>
                                      <option value="20">20%</option>
                                      <option value="25">25%</option>
                                      <option value="30">30%</option>
                                    </select>
    </td>
    <td>
      <input placeholder="QTY"  class="form-control">
    </td>
  	<td>
  		<div class="price-wrap">
  			<var class="price">USD 145</var>
  		</div> <!-- price-wrap .// -->
  	</td>
    <td>
      <div class="price-wrap">
        <var class="price">USD 145</var>
      </div> <!-- price-wrap .// -->
    </td>
  	<td class="text-right">
  	<a href="" class="btn btn-outline-danger"> × </a>
  	</td>
  </tr>
  <tr>
    <td>
  <figure class="media">
    <figcaption class="media-body">
      <h6 class="title text-truncate">Product name goes here </h6>
      <dl class="param param-inline small">
        <dt>Date: </dt>
        <dd>XXL</dd>
      </dl>
    </figcaption>
  </figure>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <div class="price-wrap">
        <var class="price">USD 145</var>
      </div> <!-- price-wrap .// -->
    </td>
    <td>
      <div class="price-wrap">
        <var class="price">USD 145</var>
      </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right">
    <a href="" class="btn btn-outline-danger"> × </a>
    </td>
  </tr>
  </tbody>
  </table>
  </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-7 no-padding">
                                      <ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Accommodation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Activities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Driving Guidance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu3">Custom</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="home">
    <div class="form-group">
                                    <label class="form-control-label">Desired Arrival Month</label>
                                    <select class="form-control custom-select selectpicker" ultiple="" data-live-search="true" name="startdate">
                                      <option value="January">January</option>
                                      <option value="February">February</option>
                                      <option value="March">March</option>
                                      <option value="April">April</option>
                                      <option value="April">May</option>
                                      <option value="April">June</option>
                                      <option value="July">July</option>
                                      <option value="August">August</option>
                                      <option value="September">September</option>
                                      <option value="October">October</option>
                                      <option value="November">November</option>
                                      <option value="December">December</option>
                                    </select>
                                  </div>


  </div>
  <div class="tab-pane container fade" id="menu1">2...</div>
  <div class="tab-pane container fade" id="menu2">3...</div>
    <div class="tab-pane container fade" id="menu3">4...</div>
</div>

                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>


<%- include ../../temp/footer.ejs %>
<script type="text/javascript">
$('#nav-tab a').on('click', function (e) {
e.preventDefault()
$(this).tab('show')
})
</script>
