<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner active" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
                      <div class="container-fluid">
                        <div class="breadcrumb-holder container-fluid">
                          <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/bookings">Bookings</a></li>
                                <li class="breadcrumb-item active"><%= booking.firstname %></li>
                              </ul>
                            </div>
                              <div class="col-md-6 col-xs-12">
                                  <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                                <div class="float-right-actions">
                                  <div class="dropdown">
                        <button class="btn btn-outline-dark btn-sm" type="button" id="editBooking" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Actions <span class="fa fa-chevron-down"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="editBooking">
                          <a class="dropdown-item" data-toggle="modal" data-target="#changeBookingModal">Edit Booking details</a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#newPayment">New Payment</a>
                          <hr><a class="dropdown-item" href="#"><strong><i class="fa fa-envelope"></i> Email</strong></a>
                          <% if(booking.status == "Confirmed" || booking.status == "In Progress" ){ %>
                                <a class="dropdown-item" href="/bookings/send-final-payment/<%= booking._id %>">Send Booking details</a>
                            <% } %>
                            <% if(outstanding > 0 && booking.status == "Confirmed"){ %>
                                  <a class="dropdown-item" href="/bookings/send-final-payment-reminder/<%= booking._id %>">Send Payment Reminder</a>
                              <% } %>
                              <% if(booking.status == "Completed"){ %>
                                    <a class="dropdown-item" href="/bookings/send-feedback/<%= booking._id %>">Send Feedback</a>
                                <% } %>
                        </div>
                      </div>
                                </div>
                                <div class="float-right-actions">
                                  <div class="dropdown">
                                    <% if(booking.status == "Pending"){ %>

                                      <button class="btn btn-outline-dark btn-sm <%= booking.status %>" data-toggle="modal" data-target="#changeStatus" aria-expanded="false">
                                        <%= booking.status %> <span class="fa fa-chevron-down"></span>
                                      </button>

                                        <% } else { %>

                                          <button class="btn btn-outline-dark btn-sm <%= booking.status %>" data-toggle="modal" data-target="#changeStatus"aria-haspopup="true" aria-expanded="false">
                                             <%= booking.status %> <span class="fa fa-chevron-down"></span>
                                          </button>

                                        <% } %>
                      </div>
                                </div>

                                    <%}%>
                              </div>
                          </div>
                        </div>
                      </div>
          </header>



<!-- Modal -->
<div class="modal fade" id="newTransfer" tabindex="-1" role="dialog" aria-labelledby="newBooking" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Add new Transfer</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <form action="/bookings/new-transfer" method="post">
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">Type:</label>
    <select class="form-control custom-select payment-status" name="type">
    <option value="Arrival Transfer">Arrival Transfer</option>
    <option value="Departure Transfer">Departure Transfer</option>
    </select>
  </div>
<div class="form-group">
    <label for="recipient-name" class="col-form-label">Date:</label>
    <input type="text" class="form-control datePicker" autocomplete="off" name="date">
</div>
<hr>
<p><strong>Flight Information</strong></p>
<div class="form-group">
    <label for="recipient-name" class="col-form-label">Flight Number:</label>
    <input type="text" class="form-control" name="flightnumber">
</div>
<div class="form-group">
    <label for="recipient-name" class="col-form-label">Flight Time:</label>
    <input type="time" class="form-control" name="flighttime">
</div>
<hr>
<p><strong>Pick-up Information</strong></p>
<div class="form-group">
<label for="recipient-name" class="col-form-label">Time</label>
<input type="time" class="form-control" name="pickuptime">
</div>
<div class="form-group">
<label for="recipient-name" class="col-form-label">Location</label>
<input type="text" class="form-control" name="location">
</div>
<div class="form-group">
<label for="recipient-name" class="col-form-label">Number of People</label>
<input type="number" class="form-control" name="people" value="<%= travellers.length %>">
</div>
<hr>
<div class="form-group">
<label for="exampleFormControlTextarea1">Extra Information</label>
<textarea class="form-control" id="exampleFormControlTextarea1" name="extraInfo" rows="3"></textarea>
</div>
</div>
<div class="modal-footer">
<input type="hidden" name="bookingid" value="<%= booking.id %>">
<input type="hidden" name="bookingname" value="<%= booking.firstname %> <%= booking.lastname %>">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
</div>
</div>
</div>


<div class="modal fade" id="uploadItinerary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Itinerary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body main-statusChange">
        <form action="/bookings/upload-itinerary/<%= booking._id %>/<%= booking.bookingnumber %>" method="post" encType="multipart/form-data">
<div class="form-group">
<label for="exampleFormControlSelect1">Itinerary</label>
<input id="fileInput" type="file" name="itinerary" class="form-control-file">
</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Booking Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body main-statusChange">
        <form action="/bookings/update-status/<%= booking._id %>" method="post">
<div class="form-group">
<label for="exampleFormControlSelect1">Status</label>
<select class="form-control" id="exampleFormControlSelect1" name="status">
<option value="Completed">Completed</option>
<option value="Confirmed">Confirmed</option>
<option value="Cancelled">Cancelled</option>
<option value="Pending">Pending</option>
</select>
</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
    </div>
  </div>
</div>



          <!-- Modal -->
<div class="modal fade" id="newPackage" tabindex="-1" role="dialog" aria-labelledby="newBooking" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
              <label for="recipient-name" class="col-form-label">Arrival date:</label>
              <input type="text" class="form-control datePicker" name="date" autocomplete="off">
        </div>
        <div class="form-group">
              <label for="recipient-name" class="col-form-label">Departure date:</label>
              <input type="text" class="form-control datePicker" autocomplete="off" name="date">
        </div>
        <div class="form-group">
              <label for="recipient-name" class="col-form-label">Arrival flight:</label>
              <input type="text" class="form-control" name="date">
        </div>
        <div class="form-group">
              <label for="recipient-name" class="col-form-label">Departure flight:</label>
              <input type="text" class="form-control" name="date">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Number of travellers</label>
          <input type="number" class="form-control" name="date">
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="bookingname" value="<%= booking.firstname %> <%= booking.lastname %>">
        <input type="hidden" name="bookingid" value="<%= booking.id %>">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTraveller" tabindex="-1" role="dialog" aria-labelledby="newTraveller" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Edit Travellers</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <p><strong>Travellers - <%= travellers.length %> PAX:</strong></p>
  <% travellers.forEach(function(traveller) { %>
    <div class="row">
        <div class="traveller-list" id="<%= traveller.id %>">
      <div class="col-md-5 no-padding left-padding">
        <div class="form-group">
        <label for="recipient-name" class="col-form-label">Name:</label>
        <input type="text" class="form-control traveller-change <%= traveller.id %>" name="name" value="<%= traveller.name %>">
      </div>
      </div>
      <div class="col-md-2 no-padding">
          <label for="recipient-name" class="col-form-label">Age:</label>
          <input type="text" class="form-control traveller-change <%= traveller.id %>" name="age" value="<%= traveller.age %>">
      </div>
      <div class="col-md-2 no-padding">
          <label for="recipient-name" class="col-form-label">Height:</label>
          <input type="text" class="form-control traveller-change <%= traveller.id %>" name="height" value="<%= traveller.height %>">
      </div>
      <div class="col-md-2 no-padding">
          <label for="recipient-name" class="col-form-label">Weight:</label>
          <input type="text" class="form-control traveller-change <%= traveller.id %>" name="weight" value="<%= traveller.weight %>">
      </div>
      <div class="col-md-1 no-padding right-padding">
          <label for="recipient-name" class="col-form-label"></label>
        <input class="btn btn-danger" type="submit" value="x">
      </div>
      <input type="hidden" name="bookingid" value="<%= booking.id %>">
    </div>
    </div>
  <% }); %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="newTraveller" tabindex="-1" role="dialog" aria-labelledby="newTraveller" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Add new Traveller</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form action="/bookings/traveller" method="post" encType="multipart/form-data">
<div class="form-group">
    <label for="recipient-name" class="col-form-label">Name:</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">Age:</label>
    <input type="number" class="form-control" name="age">
</div>
<label>Gender</label>
<div class="form-group">
<select class="form-control custom-select gender"  required name="gender">
  <option value="Male">Male</option>
<option value="Female">Female</option>
</select>
</div>
<div class="form-group">
  <label for="recipient-name" class="col-form-label">Height:</label>
  <input type="text" class="form-control" name="height">
</div>
<div class="form-group">
  <label for="recipient-name" class="col-form-label">Weight:</label>
  <input type="text" class="form-control" name="weight">
</div>
</div>
<div class="modal-footer">
<input type="hidden" name="bookingid" value="<%= booking.bookingnumber %>">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
</div>




          <!-- Modal -->
<div class="modal fade" id="newPayment" tabindex="-1" role="dialog" aria-labelledby="newPayment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/bookings/payment" method="post" encType="multipart/form-data">
        <div class="form-group">
              <label for="recipient-name" class="col-form-label">Date:</label>
              <input type="text" class="form-control datePicker" name="date">
            </div>
            <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Amount:</label>
                  <input type="text" class="form-control format-isk" name="amount">
          </div>
          <div class="form-group display-none">
            <label for="recipient-name" class="col-form-label">Payment Status:</label>
            <select class="form-control custom-select payment-status" name="status">
                              <option value="Unpaid" selected>Unpaid</option>
              </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Method:</label>
            <select class="form-control custom-select payment-method" name="method">
                              <option value="Credit Card">Credit Card</option>
                              <option value="Bank Transfer">Bank Transfer</option>
                              <option value="Refund">Refund</option>
                            </select>
          </div>
          <div class="form-group display-none" id="refund-reason">
            <label for="recipient-name" class="col-form-label">Reason for refund:</label>
            <input type="text" class="form-control" name="description">
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="bookingname" value="<%= booking.firstname %> <%= booking.lastname %>">
        <input type="hidden" name="bookingid" value="<%= booking.id %>">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
    </div>
  </div>
</div>

          <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">
                  <div class="card">
                    <h2 class="main-card-heading"><%= booking.firstname %>  #<%= booking.bookingnumber %></h2>
                    <div class="card-body client">
                      <div class="media">


                        <div class="media-body">


                          <% if(detail){ %>
                            <div class="row">
                              <div class="col-lg-6 col-md-12">
                                <i class="fa fa-phone"></i> <%= detail.phonenumber %><br>
                                  <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                                <i class="fa fa-envelope"></i> <%= detail.email %><br>
                              </div><div class="col-lg-6 col-md-12">
                              <p class="text-muted mb-0">Address: <%= detail.address %></p>
                              <p class="text-muted mb-0">Zip Code: <%= detail.zip %></p>
                              <p class="text-muted mb-0">City: <%= detail.city %></p>
                                                                  <% } %>
                              <p class="text-muted mb-0">Country: <%= detail.country %></p>
                              </div>
                            </div>

                          <% } else { %>
                            <div class="row">
                              <div class="col-lg-6 col-md-12">
                                <i class="fa fa-phone"></i> <%= booking.phonenumber %><br>
                                <i class="fa fa-envelope"></i> <%= booking.email %><br>

                              </div><div class="col-lg-6 col-md-12">
                              <p class="text-muted mb-0">Address: <%= booking.address %></p>
                              <p class="text-muted mb-0">Zip Code: <%= booking.zip %></p>
                              <p class="text-muted mb-0">City: <%= booking.city %></p>
                              <p class="text-muted mb-0">Country: <%= booking.country %></p>
                              </div>
                            </div>

                          <% } %>

                          <hr>
                          <div class="row">
                            <div class="col-md-12">
                              <p><strong>Travellers - <%= travellers.length %> PAX:</strong></p>
                              <% travellers.forEach(function(traveller) { %>
                                <div class="travel-detail-one">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <% if (traveller.height) { %>
                                          <p><i class="fa fa-user" aria-hidden="true"></i> <%= traveller.name %> - <%= traveller.age %> Yrs - <%= traveller.gender %><a class="extra-info" data-container="body" data-toggle="popover" data-placement="top" data-content="Height: <%= traveller.height %> - Weight: <%= traveller.weight %>"><i class="fa fa-info-circle"></i></a></p>
                                      <% } else { %>
                                        <p><i class="fa fa-user" aria-hidden="true"></i> <%= traveller.name %> - <%= traveller.age %> Yrs - <%= traveller.gender %></p>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                              </tr>
                              <% }); %>

                            </div>
                            <% if (detail) { %>
                            <% if (detail.specialrequest) { %>
                            <div class="col-md-12">
                              <hr>
                              <p><strong>Special Request:</strong></p>
                              <p><%= detail.specialrequest %></p>
                            </div>
                              <% } %>
                              <% } %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">

                      <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                      <h2 class="main-card-heading">Emails</h2>
                    <div class="card-body client">
                      <div class="media">
                        <div class="media-body">

                          <% if(emails.length === 0){ %>

                              <p>No emails have been sent...</p>


                              <% } else { %>

                                <% emails.forEach(function(email) { %>

                                <div class="email-holder">
                                  <p><a target="_blank" href="https://account.postmarkapp.com/servers/4603770/messages/<%= email.MessageID %>?from=outbound"><%= email.Subject %></a></p>
                                  <p><%= moment(email.ReceivedAt).format("LL") %> -  <span class="badge badge-success"><%= email.Status %></span></p>
                                </div>

                                  <% }); %>


                              <% } %>



                        </div>

                      </div>
                    </div>
                          <% } %>
                  </div>
                      <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                  <div class="recent-updates card">
                    <div class="payment-info" style="padding-bottom: 15px;">
                      <div class="row">
                        <div class="col-md-6">
                        <h2 class="main-card-heading">Payments</h2>
                        </div>
                            <div class="col-md-6 payment-stat">
                            <% if(outstanding === 0){ %>
                              <span class="badge badge-success float-right">PAID IN FULL</span>

                              <% } else{ %>

                                <span class="badge badge-danger float-right">Not Paid in Full</span>

                              <% } %>
                            </div>
                      </div>
                    </div>
                      <div class="card-body no-padding">

                        <% payments.forEach(function(payment) { %>

                          <div class="item d-flex justify-content-between">
                            <div class="info d-flex">
                              <div class="title">
                                <h5><%= moment(payment.date).format('LL') %> - via <%= payment.method %></h5>


                                  <% if (payment.method === "Refund") { %>

                                      <p class="<%= payment.method %>"><strong><%= numeral(payment.amount).format('0,0'); %> ISK<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="<%= payment.reason %>"></i></strong>

                                  <% } else { %>

                                      <p><strong><%= numeral(payment.amount).format('0,0'); %> ISK</strong>


                                  <% } %>
                                <% if (payment.status === "Paid") { %>

                                  <span class="badge badge-success"><%= payment.status %></span>

                                  </p>

                                <% } else { %>

                              <span class="badge badge-danger"><%= payment.status %></span>

                              </p>


                                <% } %>

                              </div>
                            </div>
                              <% if (payment.status === "Paid") { %>




                              <% } else { %>

                              <div class="payment-action">

                              <button class="btn btn-outline-dark btn-sm no-outline" type="button" data-toggle="modal" data-target="#editPayment" data-date="<%= moment(payment.date).format('LL') %>" data-status="<%= payment.status %>" data-id="<%= payment.id %>" data-amount="<%= numeral(payment.amount).format('0,0'); %>"><span class="fa fa-pencil"></span></button>

                                                  </div>
                              <% } %>

                          </div>
                        <!-- Item-->

                        <div class="modal fade" id="editPayment" tabindex="-1" role="dialog" aria-labelledby="editPayment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="" class="paymentToUpdate" encType="multipart/form-data">
        <input type="hidden" name="booking" value="<%= booking.id %>">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Payment Status:</label>
            <select class="form-control custom-select payment-status" name="status">
                              <option value="Paid">Paid</option>
                              <option value="Unpaid">Unpaid</option>
                            </select>
          </div>
        <h2 class="modal-amount"></h2>
      </div>
      <div class="modal-footer">
        <button type="button" data-toggle="modal" data-target="#removePayment" data-paymentid="" aria-haspopup="true" aria-expanded="false" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="removePayment" tabindex="-1" role="dialog" aria-labelledby="removePayment" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this payment?</p>
        <form method="post" action="" class="deletePayment">
          <input type="hidden" name="bookingID" value="<%= booking.id %>">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      </div>
    </div>
  </div>
</div>



                        <% }); %>

                      </div>
                      <div class="card-footer payment-summary">
                        <div class="row">
                          <div class="col-md-3 col-xs-12">
                            <i class="material-icons flight-icon">money_off</i>
                            <p>Outstanding</p>
                            <p><strong><%= numeral(outstanding).format('0,0') %> ISK</strong></p>
                          </div>
                          <div class="col-md-3 col-xs-12">
          <i class="material-icons flight-icon">check</i>
          <p>Paid</p>
          <p><strong><%= numeral(totalPaid).format('0,0') %> ISK</strong></p>
        </div>
          <% if (totalRefunded) { %>
        <div class="col-md-3 col-xs-12">
          <i class="material-icons flight-icon">clear</i>
          <p>Refunded</p>
          <p class="Refund"><strong><%= numeral(totalRefunded).format('0,0') %> ISK</strong></p>
        </div>
        <% } %>

        <div class="col-md-3 col-xs-12">
          <i class="material-icons flight-icon">attach_money</i>
          <p>Total</p>
          <p><strong><%= numeral(booking.finalprice).format('0,0') %> ISK</strong></p>
        </div>
                        </div>
                    </div>
                    </div>
                        <%}%>
                </div>

                  <!-- Inline Form-->
                  <div class="col-lg-8">

                      <!-- <% transfers.forEach(function(transfer) { %>
                          <div class="card-cold">
                            <% if (transfer.status == "Confirmed") { %>
                              <form class="card card-booking-item" style="border-color: #28a745;">
                              <% } else if (transfer.status == "Cancelled") { %>
                                <form class="card card-booking-item" style="border-color: #dc3545;">
                              <% } else { %>
                            <form class="card card-booking-item">
                              <% } %>
                            <div class="card-header">
                              <div class="row">
                                  <div class="col-md-6">
                                    <h3 class="card-title">
                                      <% if (transfer.type == "Arrival Transfer") { %>
                                              <i class="material-icons">flight_land</i>
                                        <% } else { %>

                                            <i class="material-icons">flight_takeoff</i>
                                          <% } %>
                                          <%= transfer.type %>
                                  </div>
                                  <div class="col-md-6">
                                    <% if (transfer.status == "Confirmed") { %>
                                      <span class="badge badge-success confirmed-tour-item" data-toggle="modal" data-target="#" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                                      <% } else if (transfer.status == "Cancelled") { %>
                                      <span class="badge badge-danger confirmed-tour-item" data-toggle="modal" data-target="#changeStatus" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                                      <% } else { %>
                                      <span class="badge badge-warning confirmed-tour-item" data-toggle="modal" data-target="#changeStatus" data-id="<%= transfer.id %>" data-type="<%= transfer.type %>" data-date="<%= moment(transfer.date).format('LL') %>" data-pickuptime="<%= transfer.pickuptime %>" data-pickupLocation="<%= transfer.location %>" data-people="<%= transfer.people %>" data-getStatus="<%= transfer.status %>"><%= transfer.status %></span>
                                      <% } %>
                                  </div>
                              </div>
                            </div> -->

                        <!-- <div class="card-body" style="padding: 0px;">
                          <div class="item booking-item-details">
                            <div class="row">
                              <div class="col-md-4 booking-item-detail-col">
                                <div class="title">
                                  <h5><%= moment(transfer.date).format('LL') %></h5>
                                  <% if (transfer.extraInfo) { %>
                                      <p><%= transfer.people %> PAX <a class="extra-info" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= transfer.extraInfo %>"><i class="fa fa-info-circle"></i> Extra Information</a></p>
                                    <% } else { %>
                                    <p><%= transfer.people %> PAX</p>
                                    <% } %>
                                </div>
                              </div>
                              <div class="col-md-6 booking-item-detail-col">
                                <div class="row">
                                  <div class="col-md-6">
                                    <p>Flight: <br><%= transfer.flightnumber %> at <%= transfer.flighttime %></p>
                                  </div>
                                  <div class="col-md-6">
                                    <p>Pick-up: <br><%= transfer.location %> at <%= transfer.pickuptime %></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 float-right booking-item-detail-col">
                                <div class="row">
                                  <div class="col-12">
                                    <% if (transfer.status == "Confirmed"){ %>
                                      <p>Driver: </br> <%= transfer.driver %></p>

                                      <% } else { %>
                                        <p></p>

<% } %>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>

                      </form>
                      </div> -->


                      <!-- <% }); %> -->

                      <% if(detail){ %>
                          <h2 class="main-card-heading">Details</h2>
                                            <div class="card-cold">
                                              <form class="card card-booking-item">
                                              <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                      <h3 class="card-title"><%= moment(detail.arrivaldate).format("LL") %> - <%= moment(detail.departuredate).format("LL") %></h3>
                                                    </div>
                                                    <div class="col-md-6">

                                                      <% if ( booking.status == "Confirmed" || booking.status == "In Progress") { %>
                                                      <a class="btn btn-primary btn-sm float-right create-arrival-sign" href="/bookings/create-card/<%= booking._id %>" target="_blank" role="button">Arrival Sign <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                                            <% }  %>
                                                      <% if(detail.itinerary){ %>
                                                        <a class="btn btn-primary btn-sm float-right create-arrival-sign"  target="_blank" role="button">Trip Planner <i class="fa fa-calendar" aria-hidden="true"></i></a>
                                                          <%if (accessControl  === "Admin" || accessControl  === "Supervisor") {%>
                                                        <div class="dropdown">
                                                          <button class="btn btn-primary btn-sm float-right view-itinerary" type="button" id="editItinerary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            View Itinerary <span class="fa fa-chevron-down"></span>
                                                          </button>
                                                          <div class="dropdown-menu" aria-labelledby="editItinerary">
                                                            <a class="dropdown-item"  href="<%= detail.itinerary %>" target="_blank">View Itinerary</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#uploadItinerary">Upload Itinerary</a>
                                                          </div>

                                                              <% } else { %>

                                                                <a class="btn btn-primary btn-sm float-right view-itinerary" href="<%= detail.itinerary %>" target="_blank">
                                                                  View Itinerary </a>
                                                                  <% }  %>

                                                                        </div>

                              <% } else { %>
                                                          <a class="btn btn-primary btn-sm float-right create-arrival-sign" target="_blank" role="button">Trip Planner <i class="fa fa-calendar" aria-hidden="true"></i></a>
                                                          <button type="button" class="btn btn-secondary float-right view-itinerary" data-toggle="modal" data-target="#uploadItinerary">Upload Itinerary</button>
                                                        <% } %>
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="card-body" style="padding: 0px;">
                                                <div class="item booking-item-details">
                                                  <div class="row">
                                                    <div class="col-md-4 booking-item-detail-col">
                                                      <p>Duration: <br><%= totalDuration %></p>
                                                    </div>
                                                    <div class="col-md-4 booking-item-detail-col">
                                                      <div class="row">
                                                            <div class="col-md-2">
                                                              <i class="material-icons flight-icon">flight_land</i>
                                                            </div>
                                                            <div class="col-md-10">
                                                              <p>Arrival flight: <br><%= detail.arrivalflight %></p>
                                                            </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-4 booking-item-detail-col">
                                                      <div class="row">
                                                            <div class="col-md-2">
                                                              <i class="material-icons flight-icon">flight_takeoff</i>
                                                            </div>
                                                            <div class="col-md-10">
                                                              <p>Departure flight: <br><%= detail.departureflight %></p>
                                                            </div>
                                                      </div>
                                                    </div>
                                                </div>
                                              </div>

                                            </form>
                                            </div>
                                              </div>

                      <% }  %>


                    </div>


                </div>

            </section>

            <div class="modal" id="changeBookingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Booking - <%= booking.firstname %> <%= booking.lastname %></h5>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="modal-body" id="result">
                          <div class="row h-100  change-book-details">
                              <div class="col-md-6 col-xl-6 col-sm-12">
                                <form class="form-validate" novalidate="novalidate" id="bookingsDetailsUpdate" action="/bookings/update/<%= booking._id %>" method="post">
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label>Full Name</label>
                                      <input type="text" name="name" autocomplete="off" required="" value="<%= booking.firstname %>" class="form-control" autocomplete="no">
                                    </div>
                                      <div class="form-group col-md-6">
                                        <label>Total Amount</label>
                                        <input type="number" name="totalamount" autocomplete="off" required="" value="<%= booking.finalprice %>" class="form-control" autocomplete="no">
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <div class="row">
                                        <div class="col">
                                          <label>Phone Number</label>
                                        </div>
                                      </div>
                                      <% if(detail){ %>
                                      <input name="phonenumber" value="<%= detail.phonenumber %>" type="text" required=""class="form-control">
                                      <% } else { %>
                                      <input name="phonenumber"  type="text" required=""class="form-control">
                                      <% } %>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <div class="row">
                                        <div class="col">
                                          <label>Email</label>
                                        </div>
                                      </div>
                                      <% if(detail){ %>
                                      <input name="email" value="<%= detail.email %>" type="email" required=""class="form-control">
                                      <% } else { %>
                                      <input name="email"  type="email" required=""class="form-control">
                                      <% } %>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label>City / Town</label>
                                      <% if(detail){ %>
                                      <input name="city" type="text" autocomplete="off" required="" value="<%= detail.city %>" class="form-control">
                                      <% } else { %>
                                        <input name="city" type="text" autocomplete="off" required="" class="form-control">
                                      <% } %>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label>Zip Code</label>
                                      <% if(detail){ %>
                                      <input name="zip" type="text" autocomplete="off" value="<%= detail.zip %>" required="" class="form-control">
                                      <% } else { %>
                                        <input name="zip" type="text" autocomplete="off" required="" class="form-control">
                                      <% } %>
                                    </div>
                                  </div>
                                    <div class="row">
                                  <div class="form-group col-md-6">
                                    <label>Country</label>
                                    <select id="selectedCountry" class="form-control custom-select" name="country" required="">
    <% var options = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
	,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands"
	,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
	,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
	,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
	,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
	,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
	,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
	,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
	,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
	,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
	,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
	,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia"
	,"Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","United States Minor Outlying Islands","Uruguay"
	,"Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];%>
    <% for(var i = 0; i < options.length; i++) { %>
      <% if(detail){ %>
      <% var selected = ( detail.country == options[ i ] ) ? "selected" : ""; %>
      <% } else { %>
        <% var selected = ""; %>
      <% } %>
      <option value='<%=options[ i ] %>' <%=selected %>><%=options[ i ] %></option>
    <% } %>
  </select>

                                  </div>
                                  <div class="form-group col-md-6">
                                    <label>Address</label>
                                      <% if(detail){ %>
                                    <input  name="address" type="text" autocomplete="off" required="" value="<%= detail.address %>" class="form-control">
                                      <% } else { %>
                                        <input  name="address" type="text" autocomplete="off" required="" class="form-control">
                                    <% } %>
                                  </div>

                                </div>
                                <div class="row">
                                            <div class="input-group input-daterange">
                                  <div class="col">
                                    <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Arrival date</label>
                                    <% if(detail){ %>
                                    <input name="arrivaldate" id="arrivaldate" type="text" value="<%= moment(detail.arrivaldate).format("LL") %>" autocomplete="off" required=""  class="form-control">
                                    <% } else { %>
                                    <input name="arrivaldate" id="arrivaldate" type="text"  autocomplete="off" required="" class="form-control">
                                    <% } %>
                                  </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Departure date</label>
                                        <% if(detail){ %>
                                      <input name="departuredate" type="text" id="departuredate" value="<%= moment(detail.departuredate).format("LL") %>" autocomplete="off" required=""  class="form-control">
                                        <% } else { %>
                                      <input name="departuredate" type="text" id="departuredate"  autocomplete="off" required="" class="form-control">
                                          <% } %>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label>Arrival Flight</label>
                                      <% if(detail){ %>
                                      <input name="arrivalflight" id="arrivalFlight" type="text" value="<%= detail.arrivalflight %>" autocomplete="off" required="" placeholder="Flight number - MM/DD/YYYY - Arrival Time" class="form-control">
                                      <% } else { %>
                                      <input name="arrivalflight" id="arrivalFlight" type="text"  autocomplete="off" required="" placeholder="Flight number - MM/DD/YYYY - Arrival Time" class="form-control">
                                      <% } %>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label>Departure Flight</label>
                                        <% if(detail){ %>
                                      <input name="departureflight" type="text" id="departureFlight" value="<%= detail.departureflight %>" autocomplete="off" required="" placeholder="Flight number - MM/DD/YYYY - Departure Time" class="form-control">
                                        <% } else { %>
                                      <input name="departureflight" type="text" id="departureFlight"  autocomplete="off" required="" placeholder="Flight number - MM/DD/YYYY - Departure Time" class="form-control">
                                          <% } %>
                                    </div>
                                  </div>
                                  <br>
                                </div>
                                  <input type="hidden" id="bookingnumber" name="bookingnumber" value="<%= booking.bookingnumber %>">
                                    <div class="col-md-6 col-xl-6 col-sm-12">
                                      <div class="form-group">
                                      <label>Number of Travellers</label>
                                        <% if(1 < travellers.length){ %>
                                      <input name="pax" type="number" autocomplete="off" value="<%= travellers.length %>" required="" class="form-control">

                                        <% } else { %>

                                          <input name="pax" type="number" autocomplete="off" v required="" class="form-control">

                                        <% } %>
                                        <% if(detail){ %>
                                    </div>
                                  <% if(travellers.length == detail.pax){ %>
                                    <div class="row">

                                      <% for(var i=0; i< travellers.length; i++) {%>

                                        <div class="traveller-detail">
                                        <div class="form-group col-md-6">
                                          <label>Name</label>
                                          <input name="travellers<%= i %>" type="text" autocomplete="off" required="" value="<%= travellers[i].name %>" class="form-control name">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label>Age</label>
                                          <input name="travellersage<%= i %>" type="number" autocomplete="off" required=""  value="<%= travellers[i].age %>"  placeholder="40" class="form-control age">
                                          <input type="hidden" name="" value="<%= travellers[i]._id %>" class="form-control travellerID">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label>Gender</label>
                                          <select class="form-control custom-select gender"  required name="gender">
                                            <% if (travellers[i].gender == "Male") { %>

                                                  <option value="Male" selected>Male</option>
                                                  <option value="Female">Female</option>

                                            <% } else { %>

                                          <option value="Female" selected>Female</option>
                                          <option value="Male">Male</option>



                                            <% } %>
                                            </select>
                                        </div>
                                      </div>

                                      <% } %>


                                    </div>


                                  <% } else { %>

                                    <div class="row">

                                      <% for(var i=0; i< detail.pax ; i++) {%>
                                        <div class="traveller-detail">
                                        <div class="form-group col-md-8">
                                          <label>Name</label>
                                          <input name="travellers<%= i %>" type="text" autocomplete="off" required="" class="form-control name">
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label>Age</label>
                                          <input name="travellersage<%= i %>" type="number" autocomplete="off" required=""  placeholder="40" class="form-control age">
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label>Gender</label>
                                          <select class="form-control custom-select gender"  required name="gender">
                                              <option value="Male">Male</option>
                                              <option value="Female">Female</option>
                                            </select>
                                        </div>
                                      </div>
                                        <% } %>


                                    </div>
                                      <% }  %>


                                    <% } %>
                                  <div class="form-group">
                                    <label>Special details</label>
                                      <% if(detail){ %>
                                    <textarea name="sepecialdetails" rows="8" cols="100" class="form-control"><%= detail.specialrequest %></textarea>
                                      <% } else { %>
                                      <textarea name="sepecialdetails" rows="8" cols="100" class="form-control"></textarea>
                                      <% } %>
                                  </div>
                                  <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                                </form>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit contact details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/bookings/update/<%= booking.id %>" enctype="multipart-data">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" name="firstname" value="<%= booking.firstname %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" name="lastname" value="<%= booking.lastname %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" name="phonenumber" value="<%= booking.phonenumber %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" class="form-control" name="email" value="<%= booking.email %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" class="form-control" name="address" value="<%= booking.address %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ZIP:</label>
            <input type="text" class="form-control" name="zip" value="<%= booking.zip %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">City:</label>
            <input type="text" class="form-control" name="city" value="<%= booking.city %>" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Country:</label>
            <select id="selectedCountry" class="form-control custom-select" name="country" required>
                  <option value="Afghanistan">Afghanistan</option>
                   <option value="Albania">Albania</option>
                   <option value="Algeria">Algeria</option>
                   <option value="American Samoa">American Samoa</option>
                   <option value="Andorra">Andorra</option>
                   <option value="Angola">Angola</option>
                   <option value="Anguilla">Anguilla</option>
                   <option value="Antartica">Antarctica</option>
                   <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                   <option value="Argentina">Argentina</option>
                   <option value="Armenia">Armenia</option>
                   <option value="Aruba">Aruba</option>
                   <option value="Australia">Australia</option>
                   <option value="Austria">Austria</option>
                   <option value="Azerbaijan">Azerbaijan</option>
                   <option value="Bahamas">Bahamas</option>
                   <option value="Bahrain">Bahrain</option>
                   <option value="Bangladesh">Bangladesh</option>
                   <option value="Barbados">Barbados</option>
                   <option value="Belarus">Belarus</option>
                   <option value="Belgium">Belgium</option>
                   <option value="Belize">Belize</option>
                   <option value="Benin">Benin</option>
                   <option value="Bermuda">Bermuda</option>
                   <option value="Bhutan">Bhutan</option>
                   <option value="Bolivia">Bolivia</option>
                   <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                   <option value="Botswana">Botswana</option>
                   <option value="Bouvet Island">Bouvet Island</option>
                   <option value="Brazil">Brazil</option>
                   <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                   <option value="Brunei Darussalam">Brunei Darussalam</option>
                   <option value="Bulgaria">Bulgaria</option>
                   <option value="Burkina Faso">Burkina Faso</option>
                   <option value="Burundi">Burundi</option>
                   <option value="Cambodia">Cambodia</option>
                   <option value="Cameroon">Cameroon</option>
                   <option value="Canada">Canada</option>
                   <option value="Cape Verde">Cape Verde</option>
                   <option value="Cayman Islands">Cayman Islands</option>
                   <option value="Central African Republic">Central African Republic</option>
                   <option value="Chad">Chad</option>
                   <option value="Chile">Chile</option>
                   <option value="China">China</option>
                   <option value="Christmas Island">Christmas Island</option>
                   <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                   <option value="Colombia">Colombia</option>
                   <option value="Comoros">Comoros</option>
                   <option value="Congo">Congo</option>
                   <option value="Congo">Congo, the Democratic Republic of the</option>
                   <option value="Cook Islands">Cook Islands</option>
                   <option value="Costa Rica">Costa Rica</option>
                   <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                   <option value="Croatia">Croatia (Hrvatska)</option>
                   <option value="Cuba">Cuba</option>
                   <option value="Cyprus">Cyprus</option>
                   <option value="Czech Republic">Czech Republic</option>
                   <option value="Denmark">Denmark</option>
                   <option value="Djibouti">Djibouti</option>
                   <option value="Dominica">Dominica</option>
                   <option value="Dominican Republic">Dominican Republic</option>
                   <option value="East Timor">East Timor</option>
                   <option value="Ecuador">Ecuador</option>
                   <option value="Egypt">Egypt</option>
                   <option value="El Salvador">El Salvador</option>
                   <option value="Equatorial Guinea">Equatorial Guinea</option>
                   <option value="Eritrea">Eritrea</option>
                   <option value="Estonia">Estonia</option>
                   <option value="Ethiopia">Ethiopia</option>
                   <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                   <option value="Faroe Islands">Faroe Islands</option>
                   <option value="Fiji">Fiji</option>
                   <option value="Finland">Finland</option>
                   <option value="France">France</option>
                   <option value="France Metropolitan">France, Metropolitan</option>
                   <option value="French Guiana">French Guiana</option>
                   <option value="French Polynesia">French Polynesia</option>
                   <option value="French Southern Territories">French Southern Territories</option>
                   <option value="Gabon">Gabon</option>
                   <option value="Gambia">Gambia</option>
                   <option value="Georgia">Georgia</option>
                   <option value="Germany">Germany</option>
                   <option value="Ghana">Ghana</option>
                   <option value="Gibraltar">Gibraltar</option>
                   <option value="Greece">Greece</option>
                   <option value="Greenland">Greenland</option>
                   <option value="Grenada">Grenada</option>
                   <option value="Guadeloupe">Guadeloupe</option>
                   <option value="Guam">Guam</option>
                   <option value="Guatemala">Guatemala</option>
                   <option value="Guinea">Guinea</option>
                   <option value="Guinea-Bissau">Guinea-Bissau</option>
                   <option value="Guyana">Guyana</option>
                   <option value="Haiti">Haiti</option>
                   <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                   <option value="Holy See">Holy See (Vatican City State)</option>
                   <option value="Honduras">Honduras</option>
                   <option value="Hong Kong">Hong Kong</option>
                   <option value="Hungary">Hungary</option>
                   <option value="Iceland">Iceland</option>
                   <option value="India">India</option>
                   <option value="Indonesia">Indonesia</option>
                   <option value="Iran">Iran (Islamic Republic of)</option>
                   <option value="Iraq">Iraq</option>
                   <option value="Ireland">Ireland</option>
                   <option value="Israel">Israel</option>
                   <option value="Italy">Italy</option>
                   <option value="Jamaica">Jamaica</option>
                   <option value="Japan">Japan</option>
                   <option value="Jordan">Jordan</option>
                   <option value="Kazakhstan">Kazakhstan</option>
                   <option value="Kenya">Kenya</option>
                   <option value="Kiribati">Kiribati</option>
                   <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
                   <option value="Korea">Korea, Republic of</option>
                   <option value="Kuwait">Kuwait</option>
                   <option value="Kyrgyzstan">Kyrgyzstan</option>
                   <option value="Lao">Lao People's Democratic Republic</option>
                   <option value="Latvia">Latvia</option>
                   <option value="Lebanon" selected="">Lebanon</option>
                   <option value="Lesotho">Lesotho</option>
                   <option value="Liberia">Liberia</option>
                   <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                   <option value="Liechtenstein">Liechtenstein</option>
                   <option value="Lithuania">Lithuania</option>
                   <option value="Luxembourg">Luxembourg</option>
                   <option value="Macau">Macau</option>
                   <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                   <option value="Madagascar">Madagascar</option>
                   <option value="Malawi">Malawi</option>
                   <option value="Malaysia">Malaysia</option>
                   <option value="Maldives">Maldives</option>
                   <option value="Mali">Mali</option>
                   <option value="Malta">Malta</option>
                   <option value="Marshall Islands">Marshall Islands</option>
                   <option value="Martinique">Martinique</option>
                   <option value="Mauritania">Mauritania</option>
                   <option value="Mauritius">Mauritius</option>
                   <option value="Mayotte">Mayotte</option>
                   <option value="Mexico">Mexico</option>
                   <option value="Micronesia">Micronesia, Federated States of</option>
                   <option value="Moldova">Moldova, Republic of</option>
                   <option value="Monaco">Monaco</option>
                   <option value="Mongolia">Mongolia</option>
                   <option value="Montserrat">Montserrat</option>
                   <option value="Morocco">Morocco</option>
                   <option value="Mozambique">Mozambique</option>
                   <option value="Myanmar">Myanmar</option>
                   <option value="Namibia">Namibia</option>
                   <option value="Nauru">Nauru</option>
                   <option value="Nepal">Nepal</option>
                   <option value="Netherlands">Netherlands</option>
                   <option value="Netherlands Antilles">Netherlands Antilles</option>
                   <option value="New Caledonia">New Caledonia</option>
                   <option value="New Zealand">New Zealand</option>
                   <option value="Nicaragua">Nicaragua</option>
                   <option value="Niger">Niger</option>
                   <option value="Nigeria">Nigeria</option>
                   <option value="Niue">Niue</option>
                   <option value="Norfolk Island">Norfolk Island</option>
                   <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                   <option value="Norway">Norway</option>
                   <option value="Oman">Oman</option>
                   <option value="Pakistan">Pakistan</option>
                   <option value="Palau">Palau</option>
                   <option value="Panama">Panama</option>
                   <option value="Papua New Guinea">Papua New Guinea</option>
                   <option value="Paraguay">Paraguay</option>
                   <option value="Peru">Peru</option>
                   <option value="Philippines">Philippines</option>
                   <option value="Pitcairn">Pitcairn</option>
                   <option value="Poland">Poland</option>
                   <option value="Portugal">Portugal</option>
                   <option value="Puerto Rico">Puerto Rico</option>
                   <option value="Qatar">Qatar</option>
                   <option value="Reunion">Reunion</option>
                   <option value="Romania">Romania</option>
                   <option value="Russia">Russian Federation</option>
                   <option value="Rwanda">Rwanda</option>
                   <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                   <option value="Saint LUCIA">Saint LUCIA</option>
                   <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
                   <option value="Samoa">Samoa</option>
                   <option value="San Marino">San Marino</option>
                   <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                   <option value="Saudi Arabia">Saudi Arabia</option>
                   <option value="Senegal">Senegal</option>
                   <option value="Seychelles">Seychelles</option>
                   <option value="Sierra">Sierra Leone</option>
                   <option value="Singapore">Singapore</option>
                   <option value="Slovakia">Slovakia (Slovak Republic)</option>
                   <option value="Slovenia">Slovenia</option>
                   <option value="Solomon Islands">Solomon Islands</option>
                   <option value="Somalia">Somalia</option>
                   <option value="South Africa">South Africa</option>
                   <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
                   <option value="Span">Spain</option>
                   <option value="SriLanka">Sri Lanka</option>
                   <option value="St. Helena">St. Helena</option>
                   <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
                   <option value="Sudan">Sudan</option>
                   <option value="Suriname">Suriname</option>
                   <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
                   <option value="Swaziland">Swaziland</option>
                   <option value="Sweden">Sweden</option>
                   <option value="Switzerland">Switzerland</option>
                   <option value="Syria">Syrian Arab Republic</option>
                   <option value="Taiwan">Taiwan, Province of China</option>
                   <option value="Tajikistan">Tajikistan</option>
                   <option value="Tanzania">Tanzania, United Republic of</option>
                   <option value="Thailand">Thailand</option>
                   <option value="Togo">Togo</option>
                   <option value="Tokelau">Tokelau</option>
                   <option value="Tonga">Tonga</option>
                   <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                   <option value="Tunisia">Tunisia</option>
                   <option value="Turkey">Turkey</option>
                   <option value="Turkmenistan">Turkmenistan</option>
                   <option value="Turks and Caicos">Turks and Caicos Islands</option>
                   <option value="Tuvalu">Tuvalu</option>
                   <option value="Uganda">Uganda</option>
                   <option value="Ukraine">Ukraine</option>
                   <option value="United Arab Emirates">United Arab Emirates</option>
                   <option value="United Kingdom">United Kingdom</option>
                   <option value="United States" selected="">United States</option>
                   <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                   <option value="Uruguay">Uruguay</option>
                   <option value="Uzbekistan">Uzbekistan</option>
                   <option value="Vanuatu">Vanuatu</option>
                   <option value="Venezuela">Venezuela</option>
                   <option value="Vietnam">Viet Nam</option>
                   <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                   <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
                   <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
                   <option value="Western Sahara">Western Sahara</option>
                   <option value="Yemen">Yemen</option>
                   <option value="Yugoslavia">Yugoslavia</option>
                   <option value="Zambia">Zambia</option>
                   <option value="Zimbabwe">Zimbabwe</option>
                          </select>
          </div>
          <div class="form-group">
              <label>Final Itinerary</label>
              <input type="file" class="form-control" name="itinerary"/>
          </div>
          <% if (travellers.length > 0 ||  booking.itinerary || booking.status != "Confirmed") { %>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="bookingconfirmed" id="bookingconfirmed">
              <label class="form-check-label" for="exampleCheck1">Booking is fully confirmed.</label>
      </div>
<% } else { %>
    <p>Hey terra!</p>
<% } %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>


            <% drivers.forEach(function(driver) { %>

            <input type="hidden" class="driver" value="<%= driver.name %>" data-id="<%= driver._id %>">


            <% }); %>



            <input type="hidden" name="" id="BookingEmail" value="<%= booking.email %>">

            <% hotels.forEach(function(hotel) { %>

            <input type="hidden" class="hotel" value="<%= hotel.name %>" data-id="<%= hotel.id %>">


            <% }); %>

            <input type="hidden" name="" id="bookingCountry" value="<%= booking.country %>">

<%- include ../../temp/footer.ejs %>

<script type='text/javascript'>


$( "input.form-control.traveller-change" ).keyup(function() {

  var travellerID = $(this).closest('.traveller-list').attr('id');
  var Selectname = $("input.form-control.traveller-change."+ travellerID).attr('name');
  var name = $(Selectname).val();
  // var name = $(traveller-list).att('name');
  // var age = $(traveller-list).att('age');
  // var weight = $(traveller-list).att('weight');
  // var height = $(traveller-list).att('height');

  console.log(name)


});








var BookingEmail = $("#BookingEmail").val();


$.ajax({
  url: "https://api.postmarkapp.com/messages/outbound?count=500&offset=0&recipient=sigurdur%40deluxeiceland.is",
  headers: {"Accept": "application/json", "X-Postmark-Server-Token": "06e91cdb-7bf5-4b2d-9b96-fd201221dbdd"}
}).done(function(data) {
  console.log(data);
});




$('#removePayment').on('show.bs.modal', function (event) {

var button = $(event.relatedTarget) // Button that triggered the modal
var id = button.data('paymentid');


var modal = $(this)
$('.deletePayment').attr('action', '/bookings/remove/payments/'+ id);

});


$('.datePicker').datepicker({
    orientation: "bottom auto",
    todayHighlight: true,
    autoclose: true
});

$('input[type="text"].format-isk').maskNumber({
   integer: true,
   decimal: '',
   thousands: '.'

 })



$('#editPayment').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var amount = button.data('amount'); // Extract info from data-* attributes
  var status = button.data('status');
  var date = button.data('date');
  var id = button.data('id');
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Payment: ' + date)
  modal.find('h2.modal-amount').html('<i class="material-icons">attach_money</i> ' + amount + ' ISK')
  modal.find('select.form-control.custom-select.payment-status').val(status);
  modal.find('.btn-danger').attr('data-paymentid', id);
  $('.paymentToUpdate').attr('action', '/bookings/payment/update-status/'+ id);
});

numeral.register('locale', 'fr', {
    delimiters: {
        thousands: '.',
        decimal: ','
    },
    abbreviations: {
        thousand: 'k',
        million: 'm',
        billion: 'b',
        trillion: 't'
    },
    ordinal : function (number) {
        return number === 1 ? 'er' : 'ème';
    },
    currency: {
        symbol: '€'
    }
});

// switch between locales
numeral.locale('fr');

function removeCartFunction(btn){

  var itemID = btn.getAttribute('data');
  var currentval = $("tr#"+ itemID).find("input.form-control.count").val();


  if(currentval == 1) {

    $( "#shoppingCart" ).find("tr#"+ itemID).remove();

  } else {

    var newVal = parseInt(currentval) - 1;
    $("tr#"+ itemID).find("input.form-control.count").val(newVal);

  }

}

function updateCartFunction(item){

  var currentval = $("tr#"+ item).find("input.form-control.count").val();

  var newVal = parseInt(currentval) + 1;
  $("tr#"+ item).find("input.form-control.count").val(newVal);

}

function addCartFunction(btn){

var itemID = btn.getAttribute('data');
var roomType = btn.getAttribute('type');
var roomSleeps = btn.getAttribute('sleeps');

checkItem = $("#shoppingCart").find("tr#"+ itemID)


if (checkItem.length > 0) {

  updateCartFunction(itemID);


} else {



  $("#shoppingCart").append('<tr id="'+ itemID +'"><th scope="row">'+ roomType +'</th><td><select class="form-control custom-select" name="source"><option value="0">0%</option><option value="11">11%</option><option value="24">24%</option></select></td><td><select class="form-control custom-select" name="source"><option value="0">0%</option><option value="5">5%</option><option value="10">10%</option><option value="15">15%</option><option value="20">20%</option><option value="25">25%</option><option value="30">30%</option></select></td><td><input type="number" value="1" placeholder="QTY" class="form-control count"></td><td>87.000 ISK</td><td><button data="'+  itemID+'" onclick="removeCartFunction(this);" class="btn btn-danger"> - </button></td></tr>')

}





}


function changeCommission(item){

var itemID = item.getAttribute('data');
var itemNet = item.getAttribute('net');


var itemCommission =  $(item).find(":selected").val();
var newPrice = itemNet * itemCommission;
var formatedPrice = numeral(newPrice).format('0,0');
$("li#"+ itemID).find("p.room-price").text(formatedPrice + " ISK");

}




function getRoomList(start, end) {

  $("#roomList").html("");
  Ladda.bind( 'button[type=submit]', { timeout: 2000 } );


  var start = start.format('YYYY-MM-DD');
  var end = end.format('YYYY-MM-DD');

  var s = moment(start);
  var e = moment(end);
  var tripDuration = e.diff(s, 'days');
  tripDuration += 1;
  tripNights = tripDuration - 1;

  $("#tripNights").text("Total Price for "+ tripNights + " nights");
  var selectedSupplierID = $( "#hotels option:selected" ).val();

  $.get( "/bookings/get-rooms/"+ selectedSupplierID, function( data ) {
    var selectedSupplierID = $( "#hotels option:selected" ).val();


    console.log("Lenght "+ data.length)
    console.log(selectedSupplierID);

    var startDate = start;
    var endDate = end;



    calculatePrice(0, startDate, endDate);

    function calculatePrice(i, startDate, endDate) {
      if(i < data.length) {


        $.post( "/itineraries/calculate-room-price/"+ selectedSupplierID +"/"+ data[i]._id, { startDate: startDate, endDate: endDate }).done(function( calData ) {
          var salePrice = calData.totalCal * 1.15;

          console.log("Nights "+ tripNights)
          $('#roomList').append($('<li class="list-group-item per-room"  id='+  data[i]._id +'><input type="hidden" class="itemId" value='+  data[i]._id +'><input type="hidden" name="roomType"><div class="row"><div class="col-md-3"><p><strong>'+  data[i].type + '</strong></p><p class="vat-text">Max: '+ data[i].sleeps +' Person</p></div><div class="col-md-1"><label class="form-control-label">Commission</label><select net='+ calData.totalCal +' data='+  data[i]._id +' onchange="changeCommission(this);" class="form-control custom-select"><option value="1">0%</option><option value="1.05">5%</option><option value="1.1">10%</option><option value="1.15" selected="">15%</option><option value="1.20">20%</option><option value="1.25">25%</option><option value="1.30">30%</option></select></div><div class="col-md-4 text-center"><p class="room-price">'+ numeral(salePrice).format('0,0') +' ISK</p><p class="vat-text" id="tripNights">Total for '+ tripNights +' Nights</p></div><div class="col-md-3"><button data='+  data[i]._id +' type="'+  data[i].type +'" sleeps="'+ data[i].sleeps +'" onclick="addCartFunction(this);" class="btn btn-success add-item"> + </button><p class="vat-text">11% VAT included in prices</p><p class="vat-text">Breakfast not included</p></div></div></li>'


          ));

        });



        calculatePrice(i + 1, startDate, endDate);

      } else {
        console.log("Done");
      }
    }


  });










}









    $( ".hotel" ).each(function() {
      var hotelName = $(this).val();
      var hotelID = $(this).attr("data-id");
      $('select#hotels').append($('<option>', {
          value: hotelID,
          text: hotelName
      }));
    });






$(".js-example-placeholder-single").select2({
    placeholder: "Select a state",
    allowClear: true
});


 $('.input-daterange').datepicker({
     orientation: "bottom right",
     autoclose: true,
     todayHighlight: true,
 });


 $( "#bookingsDetailsUpdate" ).submit(function( event ) {


   if($(this).valid()) {


     var form = $(this);
     var url = form.attr('action');

     $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {

           }
         });


     $( ".traveller-detail" ).each(function() {

       var travellerName = $(this).find("input.form-control.name").val();
       var travellerAge = $(this).find("input.form-control.age").val();
       var travellerGender = $(this).find("select.form-control.gender").val();
       var travellerID = $(this).find("input.form-control.travellerID").val();
       console.log("Gender "+ travellerGender);
       var bookingID = $("#bookingnumber").val();
       $.post( "http://dashboard.deluxeiceland.is/details/add/traveller", { name: travellerName, age: travellerAge,  gender: travellerGender, bookingid: bookingID, travellerID: travellerID} );





     });




   }

});

<% if (message === "Emailsent") { %>

  <script type="text/javascript">
    toastr.success('Email has been sent to client!')
  </script>

<% } %>


$(".payment-method").change(function(){
  var cur_value = $('option:selected',this).text();

  if (cur_value == "Refund") {
    $("#refund-reason").css( "display", "block" );
  }   else {
      $("#refund-reason").css( "display", "none" );
    }

});



</script>
